 body {
   background-image: url(imges/Violin.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center center;
   width: 100%;
   height: 100%;

 }

 nav.logo {
   float: left;
 }

 .body {
   margin: 0;
   padding: 0;
 }

 .yatayacilir-menu {
   width: 100%;
   margin: 0 auto;
   margin-top: 10px
 }

 .yatayacilir-menu ul {
   margin: 0px;
   padding: 0px;
   list-style-type: none;
   text-align: left center;
   z-index: 999;

 }

 .yatayacilir-menu ul li {
   float: left;
   height: 60px;
   width: 150px;
   position: relative;
   padding: 3px;
   font-family: "Brush Script MT", cursive;
 }

 .yatayacilir-menu ul li a {
   height: 30px;
   display: block;
   font-weight: normal;
   color: #fff;
   text-decoration: none;
   padding-left: 10px;
   line-height: 30px;
   font-size: 25px;
   font-family: "Brush Script MT", cursive;
   cursor: pointer;
 }

 .yatayacilir-menu ul li a:hover {
   height: 30px;
   display: block;
   font-weight: normal;
   color: #FFFFFF;
   text-decoration: underline;
   padding-left: 10px;
   line-height: 30px;
   background-color: #666;
   font-size: 25px;
 }

 .yatayacilir-menu ul li ul {
   position: absolute;
   left: 0px;
   top: 30px;
   display: none;
   background: #666;
   width: 200px
 }

 .yatayacilir-menu ul li:hover ul {
   display: block;
   z-index: 1;
 }


 h1 {
   color: rgb(247, 241, 241);
   font-family: "Brush Script MT", cursive;
   font-size: 30px;
   text-shadow: 6px 6px 4px#DCDCDC;
   font-style: italic;
   display: flex;
   justify-content: center;

 }

 .bodyGenel {
   padding: 10px;
 }

 .ad {
   color: azure;
   font-size: 18px;
   padding: 50px;
   float: right;
 }

 .violinEdu {
   color: azure;
   padding: 20px;
   font-size: 18px;
   text-align: center;

 }

 li {
   color: azure;
   font-size: 18px;
 }

 h2.pageTitle {
   color: rgb(247, 241, 241);
   font-family: "Brush Script MT", cursive;
   font-size: 50px;
   text-shadow: 6px 6px 4px#DCDCDC;
   font-style: italic;
   display: flex;
   justify-content: center;
 }

 #yazi {
   margin: 40px;
   padding: 80px;
   color: #FFF;
   font-size: 18px;
   text-align: left;
   text-indent: 40px;
   text-shadow: #00aced;
 }

 ul li {
   color: azure;
   text-align: left;
   font-size: 18px;
 }


 .row {
   margin: 30px;
   padding: 70px;
 }



 img {
   border: 1px solid black;
   margin-right: 10px;
 }

 img:hover {
   -ms-transform: scale(1.3);
   -webkit-transform: scale(1.3);
   transform: scale(1.3);
 }

 .social {
   margin-top: 50px;
   padding: 70px;
   display: inline-block;
   position: relative;
   left: 400px;
 }


 .social a {
   background: #a1a1a1;
   text-decoration: none;
   color: #FFF;
   width: 60px;
   height: 60px;
   display: inline-block;
   border-radius: 10px;
   margin-right: 20px;
   font-size: 30px;
   overflow: hidden;
   position: relative;
   line-height: 60px;
   text-align: center;
 }

 .social a {
   transition: transform 0.4s linear 0s,
     border-top-left-radius 0.1s linear 0s,
     border-top-right-radius 0.1s linear 0.1s,
     border-bottom-right-radius 0.1s linear 0.2s,
     border-bottom-left-radius 0.1s linear 0.3s;
 }

 .social .facebook:hover {
   background-color: #3b5998;
   transform: rotate(360deg);
   border-radius: 50%;
 }

 .social .twitter:hover {
   background-color: #00aced;
   transform: rotate(360deg);
   border-radius: 50%;
 }

 .social .instagram:hover {
   background-color: #3f138d;
   transform: rotate(360deg);
   border-radius: 50%;
 }

 .social .youtube:hover {
   background-color: #250c50;
   transform: rotate(360deg);
   border-radius: 50%;
 }

 #pageContent {
   margin: 40px;
   color: aliceblue;
   float: right;
   width: 740px;
   font-size: 20px;
 }

 .maps {
   padding: 60px;
   text-align: left center;
 }

 .form-example {
   padding: 60px;
   align-items: center;
   justify-content: center;
 }

 .demo-form1 {
   margin-left: auto;
   margin-right: auto;
   width: 45%;
   padding: 20px;
   background-color: #e9e9f1;
   border: 1px solid #bebed6;

 }

 .demo-form1 input::placeholder,
 .demo-form1 textarea::placeholder,
 .demo-form1 select::placeholder {
   opacity: 0.8;
 }

 .demo-form1 .input-wrap {
   text-align: center;
   padding: 5px 0;
 }

 .demo-form1 textarea {
   width: 100px;
   height: 100px;
 }

 .demo-form1 .input {
   background-color: #fff;
   border: 1px solid #bebed6;
   width: 500px;
   height: 18px;
   padding: 10px 15px;
 }

 .demo-form1 input:not([type="radio"]) {
   width: 500px;
 }

 .demo-form1 .radio-label {
   font-weight: 600;
   font-size: 13px;
 }

 .demo-form1 label.f-title {
   display: block;
   font-size: 16px;
   font-weight: 600;
   margin-bottom: 5px;
 }

 .demo-form1 input[type="submit"] {
   color: #fff;
   border-color: transparent;
   background-color: #a1a1a1;
   font-weight: 600;
   font-size: 16px;
   padding: 8px 15px;
   transition: 0.3s ease all;
 }

 .demo-form1 input[type="submit"]:hover {
   background-color: antiquewhite;
   color: black;
 }